.header {
    &__box {
        height: 100vh;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        gap: 15rem;
        padding-top: 7rem;

        &-title {
            width: 50rem;
            margin: 10rem 0 15rem 0;
        }

        &-img {
            margin-bottom: 6rem;
            margin-left: 0;
            animation: moveInBottom;
            animation-duration: 1s;
            animation-timing-function: ease-out;
        }
    }
}
