.footer {
    height: 90vh;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-top: 10rem;
    margin-bottom: -5rem;
}

.footer-text {
    width: 62rem;
    margin-left: 7rem;
    font-size: 1.3rem;
    font-weight: 300;
    color: $color-grey-darker;
    padding-right: 6rem;

    border-right: 1px solid $color-black;
}

.footer-title {
    font-size: 3rem;
    font-weight: 400;
    color: $color-grey-darker;

    margin-bottom: 2rem;
}

.footer-box-menu {
    width: 50rem;
    margin: -4rem 0 0 7rem;
}

.footer-name {
    font-size: 5rem;
    font-weight: 700;
    color: $color-black;
    margin-bottom: -1rem;

    &:hover {
        animation: blink .6s ease-out;
        animation-iteration-count: 3;
    }
}

.footer-job {
    margin-bottom: -2rem;
    font-weight: 400;
    color: $color-grey-darker;
}

.link-box {
    margin-bottom: -1rem;
    margin-top: -1.5rem;
    display: flex;
    gap: 1.5rem;
}

.link-text {
    color: $color-grey-dark;
    margin-top: 2rem;
    transition: all .0s;
    position: relative;
    font-size: 2rem;
    font-weight: 300;

    &:hover {
        transform: scale(1.06);
        color: $color-black;
    }
}

.footer-me {
    color: $color-grey-darker;
    font-weight: 300;
    width: 40vw;
    margin-top: 2rem;
    font-size: 2rem;
}