.section-box {
    height: 100vh;
}

.s1-box {
    width: 85vw;
    margin: 0 auto;
    padding-top: 9rem;
    margin-bottom: 10rem;
    background-color: $color-white;
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-auto-rows: 21.4rem;
}

.s2-box {
    background-color: $color-white;
}

.s3-box {
    background-color: $color-white;
}

.s4-box {
    background-color: darkmagenta;
}